* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: inherit;
    font-size: 100%;
    font-family: sans-serif;

    /* border: 1px solid #000; */
}

/* Fonts */
h1,
h2 {
    font-weight: 600;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

/* Headline */
body > h1 {
    margin-left: 50px;
}

/* Navigation */
nav {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: auto;
    
    margin: 20px 0;
    border: 1px solid rgb(169, 169, 169);
}

ul {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    list-style: none;

    border-left: 1px dotted rgb(169, 169, 169);
    border-right: 1px dotted rgb(169, 169, 169);
}

li > a {
    text-decoration: none;
    color: black;
    background-color: lightgray;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(169, 169, 169);
    padding: 2px 15px;
    box-shadow: 0px 2px rgb(169, 169, 169);
}

/* Content */
main {
    display: grid;
    grid-template-columns: 50px 3fr 1fr 50px;
    grid-template-areas: ". content-left content-right .";

    border: 1px solid rgb(169, 169, 169);
}

/* Content - Right */
main section:nth-child(1) {
    grid-area: content-right;

    margin: 10px 0 10px 10px;
    border: 1px dotted rgb(169, 169, 169);
}

main > section:nth-child(1) > h2 {
    text-align: center;
}

main > section:nth-child(1) > div {
    text-align: center;
}

main > section:nth-child(1) > div > img {
    width: 70%;
    border-radius: 10px;
}

/* Content - Left */
main section:nth-child(2) {
    grid-area: content-left;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 10px 0 10px 0;
}

/* Content Left */
main > section:nth-child(2) > h2 {
    grid-area: 1 / 1 / 2 / 3;

    border: 1px dotted  rgb(169, 169, 169);
}

main > section:nth-child(2) > p {
    grid-area: 1 / 1 / 2 / 3;

    margin-top: 30px;
}

main > section:nth-child(2) > article:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;

    border: 1px dotted rgb(169, 169, 169);
}

main > section:nth-child(2) > article:nth-child(4) {
    grid-area: 3 / 1 / 4 / 3;

    border: 1px dotted rgb(169, 169, 169);
}

main > section:nth-child(2) > article:nth-child(5) {
    grid-area: 4 / 1 / 5 / 3;

    border: 1px dotted rgb(169, 169, 169);
}

main > section:nth-child(2) > div {
    grid-area: 5 / 1 / 6 / 2;
    display: flex;
    flex-direction: column;
    
    padding: 10px;
    border: 1px dotted rgb(169, 169, 169);
}

main > section:nth-child(2) > div > form > input {
    margin-bottom: 10px;
}

/* Content Right */
main > section:nth-child(2) > article:nth-child(6) {
    grid-area: 1 / 3 / 3 / 4;
    text-align: right;

    border: 1px dotted rgb(169, 169, 169);
}

main > section:nth-child(2) > article:nth-child(7) {
    grid-area: 3 / 3 / 5 / 4;
    text-align: right;

    border: 1px dotted rgb(169, 169, 169);
}

main > section:nth-child(2) > article:nth-child(8) {
    grid-area: 5 / 2 / 6 / 4;
    text-align: right;

    border: 1px dotted rgb(169, 169, 169);
}

/* Media-Query */
@media (max-width: 800px) {
    /* Nav */
    nav > ul {
        flex-direction: column;
    }
    nav > ul > li {
        margin: 5px 0;
    }
    nav > ul > li a {
        display: block;
    }

    /* Content */
    main {
        grid-template-columns: 50px 1fr 50px;
    }

    /* Content-Left */
    main section:nth-child(2) {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    main>section:nth-child(2)>h2 {
        grid-area: 1 / 1 / 2 / 4;
    }

    main>section:nth-child(2)>article:nth-child(3) {
        grid-area: 2 / 1 / 3 / 4;
    }

    main>section:nth-child(2)>article:nth-child(4) {
        grid-area: 3 / 1 / 4 / 4;
    }

    main>section:nth-child(2)>article:nth-child(5) {
        grid-area: 4 / 1 / 5 / 4;
    }

    main>section:nth-child(2)>article:nth-child(6) {
        grid-area: 5 / 1 / 6 / 4;
    }

    main>section:nth-child(2)>article:nth-child(7) {
        grid-area: 6 / 1 / 7 / 4;
    }

    main>section:nth-child(2)>article:nth-child(8) {
        grid-area: 7 / 1 / 8 / 4;
    }

    main>section:nth-child(2)>div {
        grid-area: 8 / 1 / 9 / 4;
    }

    main>section:nth-child(2)>div>form>input,
    main>section:nth-child(2)>div>form>select {
        display: block;
    }

    /* Content Right */
    main section:nth-child(1) {
        grid-area: 2 / 2 / 3 / 3;
        margin: 0;
    }
}