* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: inherit;
    font-size: 100%;
    font-family: sans-serif;
}

h1,
h2 { font-weight: 600; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }


/*************/
/** General **/
/*************/

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header"
                         "content"
                         "footer";
    background-color: rgb(47,79,79);
}

/************/
/** Header **/
/************/

/* Header - Headline */
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "headline nav";
    padding: 0 50px;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    width: 100%;
    color: rgb(47,79,79);
}

header > h1 {
    grid-area: headline;
}

/* Header - Navigation */
header > nav {
    grid-area: nav;
}

header > nav > ul {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    list-style: none;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: rgb(47,79,79);
}



/* Initial Werte*/
#close{
	display: none;
}

body > nav {
    margin-top: 38px;
    /* opacity: 0; */
    height: 0px;
    /* height: 30px; */
}

/* transition */

#stay:target #close{
	display: block;
}

#stay:target #open{
	display: none;
}



#stay:target body > nav{
    opacity: 1;
	transition: 0.5s;
}


/*************/
/** Content **/
/*************/
main {
    margin-top: 38px;
}

/* Content - Section 1 */
main > section:nth-child(1) {
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: rgb(47,79,79);
}

main > section:nth-child(1) > div {
    margin-top: 100px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

main > section:nth-child(1) > div > a > img {
    width: 200px;
    margin: 0 0 10px 0;
    border-radius: 10px;
}

/* Content - Section 2 */
main > section:nth-child(2) {
    height: 400px;
    background: linear-gradient(180deg, rgba(47,79,79,1) 0%, rgba(255,99,71,1) 100%);
}

/* Content - Section 3 */
main > section:nth-child(3) {
    height: 400px;
    background-color: tomato;
}

/* Media-Query */
@media (max-width: 800px) {

}


/****************/
/** Animations **/
/****************/

@keyframes hide {
    from {
        display: none;
    }
    to {
        display: flex;
    }
}
