* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-style: inherit;
    font-size: 100%;
    font-family: sans-serif;
}

h1,
h2 {
    font-weight: 600;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

/* Oberer Bereich */
ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 30px 0 40px 0;
    border-bottom: 1px solid darkgreen;
}

li {
    text-align: center;
    background-color: green;
    border-radius: 0 5px 0 0;
    width: 12%;
    margin: 0 5px 0;
}

li a {
    color: white;
    text-decoration: none;
}

/* Mittlerer Bereich */
main>section>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

img {
    width: 24%;
    height: 24%;
    margin: 0 0 10px 0;
}

/* Unterer Bereich */
section:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 40px;
}

section:nth-child(2)>h2,
section:nth-child(2)>h2+p {
    text-align: center;
    width: 100%;
    margin: 0 0 10px 0;
}

section:nth-child(2) article {
    width: 49%;
    margin: 20px 0 0 0;
}

section:nth-child(2) article h3 {
    margin: 0 0 10px 0;
}

section:nth-child(2) article h3+p {
    margin-bottom: 10px;
}

/* Media-Query - Mittlere Auflösung */
@media (max-width: 800px) {
    img {
        width: 32%;
        height: 32%;
    }

    section:nth-child(2) article {
        width: 100%;
    }
}

/* Media-Query - Mittlere Auflösung */
@media (max-width: 1024px) {
    img {
        width: 32%;
        height: 32%;
    }

    section:nth-child(2) article {
        width: 100%;
    }
}

/* Media-Query - kleine Auflösung */
@media (max-width: 800px) {
    ul {
        flex-wrap: wrap;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47%;
        margin: 5px 5px 0;
    }

    li a {
        padding: 20px;
    }
    
    img {
        width: 49%;
        height: 49%;
    }
}